div.overlay {
    position: fixed;
    background-color: #010340;
    opacity: 0.5;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 30;
}

div.userRegisterComponent {
    background-color: #010340;
    position: fixed;
    width: 30%;
    height: 90%;
    z-index: 40;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

div.userRegisterComponent p.closeButton {
    position: absolute;
    color: white;
    background-color: red;
    padding: 0.3rem 0.7rem;
    font-size: 2rem;
    right: 0;
    top: 0;
    text-align: center;
    font-family: "Helvetica", serif;
    font-weight: bold;
}

div.userRegisterComponent p.closeButton:hover {
    cursor: pointer;
    border: 1px solid white;
}

div.registerError {
    height: 10%;
}

div.userRegisterComponent p.registerFormTitle {
    color: #FFDF65;
    text-align: center;
    font-weight: bold;
    font-size: 150%;
    padding: 2%;
}

div.userRegisterComponent form.registerForm label.registerLabel {
    font-size: 100%;
    display: block;
    color: #FFDF65;
    margin: 5% 10% 2% 10%;
}

div.userRegisterComponent form.registerForm input.registerInput {
    font-size: 100%;
    width: 80%;
    display: block;
    margin: 2% 10% 2% 10%;
    background-color: #4158D0;
    background-image: linear-gradient(270deg, #4158D0 0%, #C850C0 39%, #FFCC70 83%);
}

div.userRegisterComponent form.registerForm select.registerInput {
    font-size: 100%;
    width: 80%;
    display: block;
    margin: 2% 10% 2% 10%;
    background-color: #4158D0;
    background-image: linear-gradient(270deg, #4158D0 0%, #C850C0 39%, #FFCC70 83%);
}

div.userRegisterComponent form.registerForm select.registerInput option {
    background-color: #FFCC70;
}

div.userRegisterComponent form.registerForm div.registerError span.regErrorMessage {
    font-size: 70%;
    display: block;
    color: #D8000C;
    letter-spacing: 1px;
    padding: 1%;
    text-align: center;
    background-color: #FFBABA;
    border-radius: 1%;
    width: 80%;
    margin: 2% 10%;
    border: 1px solid #D8000C;
}

div.userRegisterComponent button.registerButton {
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    border: 1px solid black;
    border-radius: 10px;
    background-color: #08AEEA;
    background-image: linear-gradient(43deg, #08AEEA 0%, #2AF598 100%);
    color: #010340;
    font-size: 1.5rem;
    padding: 0.5rem 0.5rem;
    margin: 1rem 32%;
    width: 10rem
}

div.userRegisterComponent button.registerButton:hover {
    background-color: #08AEEA;
    background-image: linear-gradient(223deg, #08AEEA 0%, #2AF598 100%);
    cursor: pointer;
}

.invalidFiled {
    border: 3px solid red;
}

p.smallText {
    color: white;
    text-align: center;
    margin: 1rem;
}

p.smallText span {
    color: #2AF598;
}

p.smallText span:hover {
    cursor: pointer;
    color: #e6fa29;
}